body {
        background-color: powderblue
      }
      .center {
        text-align: center;
      }
      .centerimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .superspace {
        margin: 30px 0;
        border: none;
      }
      .nav {
        list-style-type: none;
        margin: 0;
      }
      .navitem {
        display: inline;
      }
      .navitem a {
        max-width: 15vw;

        display: flex;
        flex-direction: column-reverse;
        padding: 9px;

        border: 7px solid rgba();
        border-radius: 5px;
        
        box-shadow: black 2px 2px 20px;
        background-color: rgba(255,255,255,0.5);
        color: black;
        text-decoration: none;
      }

      .navitem a:hover {
        text-decoration: underline;
      }

      table {
        margin-left: auto;
        margin-right: auto;
      }
      audio {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 20px;
      }