body {
        background-color: powderblue
      }
      .centertext {
        text-align: center;
        margin-right: 12vw;
      }
      .centerimage {
        display: block;
        
        margin-left: auto;
        margin-right: auto;
      }

      .superspace {
        margin: 30px 0;
        border: none;
      }

      .rightindex {
        position: fixed;
        top: 25vh;
        right: 5vw;
        max-width: 15vw;
        text-align: left;
      }

      .rightindex a {
        justify-content: left;
      }

      .nav {
        list-style-type: none;
        margin: 0;
        margin-left: 5vw;
        margin-right: 21vw;
      }
      .navitem {
        display: inline;
      }
      .navitem a {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        padding: 9px;

        width: 150px;
        min-height: 180px;
        height: auto;

        border: 7px solid white;
        border-radius: 5px;
        
        box-shadow: black 2px 2px 20px;
        background-color: rgba(255,255,255,0.5);
        color: black;
        text-decoration: none;
      }

      .navitem a:hover {
        text-decoration: underline;
      }

      table {
        margin-left: auto;
        margin-right: auto;
      }
      audio {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 20px;
      }
