body {
  font-family: "Courier New", monospace;
  background: #fdfdfd;
  color: #222;
  max-width: 680px;
  margin: 40px auto;
}

.update {
  margin-bottom: 14px;
}

.post-header {
  font-size: 0.75rem;
  color: #777;
}

.post-text {
  margin-top: 2px;
}
